h1 {
  text-align: center;
}

canvas {
  display: block;
  margin:auto;
  border: 1px black solid;
}

.game {
  display:flex;
  justify-content: center;
  align-items: center;
}

.parametre{
  text-align: left;
  margin:100px;
}